<section class="document_display">
  <% num = doc["doc_versions"].length-1 %>
  <h1><%= doc["doc_name"] %></h1>
  <%= doc["doc_versions"][num]["doc_content"]%>
  <p>Last edit made by:
    <span class="cursive"><%=doc["doc_versions"][num]["edit_made_by"]["name"]%></span>
  </p>
  <% if doc["primary_user"]["user_id"] == session[:user_id] && !@index %>
  <% name = doc["doc_name"] %>
  <% name_link = name.gsub(" ", "_") %>
  <div id="edit_buttons">
    <ul>
     <li><form action="/documents/<%=name_link%>/edit" method="get">
       <input class="submit_button" type="submit" value="Edit" id="doc_edit">
     </form></li>
    <li><form method="post" action="<%= doc["doc_id"]  %>">
       <input type="hidden" name="_method" value="DELETE" />
       <input class="submit_button" type="submit" value="Delete" id="doc_delete">
     </form></li></ul>
   </div>
  <% end %>
</section>
