
<% version = doc["doc_version"] %>
<% created = doc["create_date"] %>

<h3>
  <% if @current %> Current Version: <%=created %>
  <% else %>
    <a href="/documents/<%=@name_link %>/versions/<%=version%>">Version <%= version %>: <%=created %></a>
  <% end %>
</h3>
