<% @index = true %>
<%= render(:erb, :_header) %>
<%= render(:erb, :_nav_bar) %>
  <section class="main" >
    <% if params[:search] %><h2 id="search_error">There were no matches to your search for '<%=params[:search]%>'</h2><% end %>
    <section class="box" id="most_recent">
  <h2 class="section_title"> Most Recent Posts </h2>
  <% @docs.each_with_index do |doc, index| %>
    <% if @docs.length > 10 %>
      <p> hello </p>

    <% else %>
      <%= render(:erb, :_doc_preview, :locals => {:doc => doc}) %>
    <% end %>
  <% end %>
  </section>
  <section class="box" id="random_article">
    <h2 class="section_title"> Random Article </h2>
    <%if @docs.length >= 1 %>
    <% doc = @docs.sample %>
      <%= render(:erb, :_document, :locals => {:doc => doc}) %>
    <% end %>
  </section>
</section>


