<%= render(:erb, :_header) %>
<%= render(:erb, :_nav_bar) %>
<section class="main">
    <% if @approved %>
      <section class="box" id="your_articles">
      <h2 class="section_title"><%=session[:current_user][:name]%>'s Posts </h2>
        <% @user_documents.each do |doc| %>
          <%= render(:erb, :_doc_preview, :locals => {:doc => doc}) %>
        <% end %>
      </section>
      <section class="box" id="editable_articles">
      <h2 class="section_title">Articles <%=session[:current_user][:name]%> Can Edit </h2>
        <% @editable_docs.each do |doc| %>
          <%= render(:erb, :_doc_preview, :locals => {:doc => doc}) %>
        <% end %>
      </section>
      <section class="box" id="pending_requests">
      <h2 class="section_title"> Pending Requests </h2>
       <% @user["pending_requests"].each do |request| %>
          <%= render(:erb, :_pending_list, :locals => {:request => request}) %>
        <% end %>
      </section>
      <section class="box" id="user_permissions">
        <h2 class="section_title"> User Settings </h2>
      <a href="/users/<%=session[:current_user][:user_id]%>/edit">Edit user permissions</a>
    <% else %>
      <h2 id="search_error">You are not authorized to view this page</h2>
    <% end %>
  </section>
</section>
